$header-color:#1c1c1c;
.header {
    height: 40px;
    width: 100%;
    background-color: $header-color;
    display: flex;
    align-items: center;
    .logo {
        font-family: 'Segoe UI', Arial, Helvetica, sans-serif;
        font-size: 18px;
        color:#54ADF5;
        padding:0px 20px;
        a {
            text-decoration: none;
            color: inherit;
        }
    }
    
}