html,
body,
ul,
ol{
    padding: 0;
    margin: 0;
}

html, body{
    font-family: 'Segoe UI', Arial, Helvetica, sans-serif;
    height:100%;
    width:100%;
}

#container, #container > div,{
    height:100%;
    width:100%;
    .wrapper{
        height: 100%;
        width: 100%;
    }
}

.main{
    vertical-align: top;
    width: 100%;

    .dashboard{
        img{
            width:700px;
            padding-left:20%;
        }
    }
}