$sidebar-background-color: #252525;
$sidebar-color: #fff;
$sidebar-hover-color: #444;


.sidebar{
    height:calc(100% - 40px);
    width:225px;
    float:left;
    border-right:rgb(68, 68, 68) 1px solid;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    > nav{
        display: flex;
        flex-direction:column;
        height:100%;
        width:100%;
        overflow: hidden;
        box-sizing: border-box;
        background-color: $sidebar-background-color;
    }
    a:first-child{
        border-bottom:rgb(68, 68, 68) 1px solid;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }
    a{
        height: 40px;
        line-height: 40px;
        color: $sidebar-color;
        cursor: pointer;
        color: $sidebar-color;
        font-size: 13px;
        text-decoration: none;
        display: block;
        padding: 0px 15px;
        span{
            padding: 0px 0px 0px 10px;
        }
        i{
            width:15px;
            height: 15px;
            text-align: center;
        }
    }
    a:hover{
        background-color: $sidebar-hover-color;
    }
}
.sidebar.small{
    width:50px;
    a > span{
        display: none;
    }
}