.command-bar{
    height:40px;
    padding:0px 20px;
    border-bottom: 1px solid rgb(187, 187, 187);
    box-sizing: border-box;
    button{
        height:100%;
        padding:0px 10px;
        background-color: #fff;
        border: none;
        cursor: pointer;

        i{
            margin: 0px 7px 0px 0px;
        }
    }
    button:hover{
        background-color: #f3f3f3;
        border: 1px;
        border-color: #bbb;
    }
}