$window-header-background-color: #252525;
$window-header-color:#fff;
$window-header-font: Helvetica;
$window-header-height: 40px;

.window{
    height:calc(100% - $window-header-height);
    max-height: calc(100% - $window-header-height);
    font-family: $window-header-font;
    .window-header{
        height:$window-header-height;
        color: $window-header-color;
        display: flex;
        font-family: $window-header-font;
        background-color: $window-header-background-color;
        box-shadow: rgba(255, 255, 255, 0.8);
        justify-content: space-between
    }
    .window-body{
        background-color: #fff;
        color: #252525;
        max-height:100%;
        overflow-y: hidden;
    }
    .window-header__headline {
        font-size: 16px;
        display: inline-block;
        text-align: center;
        vertical-align: middle;
        line-height: $window-header-height;
        padding: 0px 20px;
    }
    .window-header__close-btn{
        width: 30px;
        height: 30px;
        border: none;
        background-color: transparent;
        color:#fff;
        cursor: pointer;
        text-align: center;
        i{
            vertical-align: -webkit-baseline-middle;
        }
    }
    .window-header__close-btn:hover{
        background-color: #ba141a;
        transition: background-color linear 0.2s;
    }
}